body{
  text-align: center;
  font-family: Raleway;
  margin: 0;
}
h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 1px;
  color: #0d2c40;
  margin: 0;
}
h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  color: #0d2c40;
}
a {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  margin: 0 20px;
}
p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}
header {
  background-color: #F15B31;
  padding: 30px 20px;
}
nav {
  background-color: #00A6B3;
  padding: 20px 0;
}
main {
  width: 850px;
  margin: 35px auto;
}
img {
  margin: 40px 8px;
}
footer {
  text-transform: uppercase;
  padding: 0px 20px;
  background-color: #0D2C40;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}
